TELEGRAM_BOT_TOKEN=
TELEGRAM_USER_ID=
OWNER_ID=
GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile
KWORK_LOGIN=
KWORK_PASSWORD=
KWORK_PHONE_LAST=
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
TELEGRAM_BOT_USERNAME=
